# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go build
/gsocketio

# Go workspace
go.work
go.work.sum

# Dependency vendor directory (we have none, but just in case)
vendor/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
